@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Skranji');

/*@font-face {
  font-family: 'Gill Sans Condensed Regular';
  src: local('Gill Sans Condensed Regular'), url('../assets/fonts/Gill\ Sans\ Condensed\ Regular.otf') format('opentype');
}*/

@font-face {
  font-family: 'Gill Sans Condensed Bold';
  src: local('Gill Sans Condensed Bold'), url('../assets/fonts/Gill\ Sans\ Condensed\ Bold.otf') format('opentype');
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'Gill Sans Condensed Bold', sans-serif;
}

.blockquoteInner:before,
.blockquoteInner:after {
  font-family: 'Skranji', sans-serif;
  font-size: 10em;
  position: absolute;
  opacity: 0.15;
}

.blockquoteInner:before {
  content: '”';
  top: 50%;
  left: -5%;
}

.blockquoteInner:after {
  content: "“";
  bottom: 50%;
  right: -5%;
  transform: scaleY(-1);
}

.underlineLink {
  text-transform: uppercase;
  position: relative;
}

.underlineLink:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  background-color: currentColor;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.underlineLink:hover:after {
  left: 0;
  right: 0;
}